{%extends "base.html"%}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block content %}

 <div class="row">
   <div class="col-md-4"></div>
   <div class="col-md-4 text-center">
    <h3 class="text-center" style="padding-top: 1em;"><span style="font-family: 'Princess Sofia', cursive; color: green;">M<span style="font-family: 'Ephesis', cursive;">a </span><span style="font-family: 'Ephesis', cursive; color: brown;">Vicinia:</span></span> Sign In</h3>
    <form method="POST" style="border: 1px solid brown; margin: 4%; padding:10%; border-radius:1%;">
      {% csrf_token %}
      <fieldset class="form-group">
        {{ form|crispy}}
      </fieldset>
     <div class="text-center">
      <button style="background: brown; font-size: 2rem; color: white;" class="btn btn-outline-info" type="submit">Login</button>
     </div>
    <br/>
    <p>Do you have an account? If not:<a href="{% url 'register' %}" style="cursor:pointer;">Sign Up here</a></p>
    </form>
   </div>
   <div class="col-md-4"></div>
 </div>
{% endblock%}