{%extends 'base.html'%}
{%load static%}

{% block content %}
{{block.super}}

<h2 class="text-center">Ma(French) means my and Vicinia(Latin) means neighbourhood.</h2>
<p class="text-center"><span style="font-family: 'Princess Sofia', cursive; color: green;">M<span style="font-family: 'Ephesis', cursive;">a </span><span style="font-family: 'Ephesis', cursive; color: brown;">Vicinia</span></span> applications allows users to be in the loop about everything happening in their neighborhood; from contact information of different handyman to meeting announcements or even alerts.</p>

 {% endblock %}